<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Add A Business</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label" for="inputBizName">Business Name</label>
            <div class="col-sm-9">
              <input fullWidth id="inputBizName" nbInput placeholder="Email" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-4 col-form-label" for="bizDescription">Business Description</label>
            <textarea class="col-sm-8" fullWidth id="bizDescription" nbInput placeholder="Message"></textarea>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label" for="inputEmail1">Business Email</label>
            <div class="col-sm-9">
              <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="inputPassword2" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Location</label>
            <div class="col-sm-9">
              <nb-radio-group>
                <nb-radio>Nairobi</nb-radio>
                <nb-radio>Other</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label" for="bizWeb">Website</label>
            <div class="col-sm-9">
              <input fullWidth id="bizWeb" nbInput placeholder="Website" type="text">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button (click)="createNewBusiness()" nbButton status="primary">Complete account setup</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

</div>

